@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,700;0,800;1,400&display=swap");

:root {
    --sec1-color: #fcba03;
    --sec2-color: #ff6242;
    --sec3-color: #009c4b;
    --sec4-color: #005e9c;
}

body,
html {
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
    font-family: "Open Sans", sans-serif;
    background: #efefef;
}

main {
    width: 90%;
    margin: 0 auto;
    display: flex;
    height: 100vh;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.headline-box {
    position: absolute;
    z-index: 999;
    justify-self: center;
    text-align: center;
    border: 15px solid darkgrey;
    border-radius: 100%;
    padding: 50px;
    background-color: white;
    left: 50%;
    transform: translate(-50%) !important;
}

@media (max-width: 768px) {
    .headline-box {
        position: unset;
        top: unset;
        left: unset;
        transform: translate(0) !important;
        margin: 40px 0px;
        width: 100%;
        border-radius: 15px;
        padding: 10px;
    }
}  

h1 {
    font-size: 40px;
    font-weight: 800;
    line-height: 1;
    color: #333;
}

h2 {
    font-size: 30px;
    text-transform: uppercase;
}

h3 {
    font-weight: 100;
    line-height: 1;
}

.sec1,
.sec2,
.sec3,
.sec4 {
    position: relative;
    width: 40%;
    height: 40%;
    box-sizing: border-box;
    padding: 10px 40px;
    border-radius: 30px;
    background: white;
}

ul {
    list-style:none;
    padding: 0px;
}

li {
    margin-bottom: 10px;
}

.sec2, .sec4 {
    padding: 10px 40px 10px 100px;
}

.sec1 , .sec3 {
    padding: 10px 100px 10px 40px;
    text-align: right;
}

@media (max-width: 768px) {
    .sec1,
    .sec2,
    .sec3,
    .sec4 {
        width: 100%;
        margin-bottom: 20px;
        padding: 10px 10px 10px 100px;
        text-align: left;
    }

    img {
        right: unset;
        left: -60px;
        top: 10%;
    }
}

.sec1 {
    border: 3px solid var(--sec1-color);
}

img {
    position: absolute;
    width: 60px;
    height: 60px;
    object-fit: contain;
    border-radius: 100%;
    padding: 30px;
}

.sec1 img {
    bottom: 15%;
    right: -60px;
    background: var(--sec1-color);
}

.sec2 img {
    bottom: 15%;
    left: -60px;
    background: var(--sec2-color);

}

.sec3 img {
    top: 15%;
    right: -60px;
    background: var(--sec3-color);

}

.sec4 img {
    top: 15%;
    left: -60px;
    background: var(--sec4-color);

}

.sec1 h2 {
    color: var(--sec1-color);
}

.sec2 {
    border: 3px solid var(--sec2-color);
}

.sec2 h2 {
    color: var(--sec2-color);
}

.sec3 {
    border: 3px solid var(--sec3-color);
}

.sec3 h2 {
    color: var(--sec3-color);
}

.sec4 {
    border: 3px solid var(--sec4-color);
}

.sec4 h2 {
    color: var(--sec4-color);
}


svg path {
    fill: white;
}